.brand{
    width: 10%;
}

.menuChild{
    width: 45%;
    min-width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.search{
    min-width: 30%;
}
   

.myCard{
    display: flex;
    align-items: flex-start;
    width: 40%;
    border-style: none;
    margin-top: 20px;
    margin-left: 20px;
}
.s-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}



.myButton{
    height: 40px;
    min-width: 100px;
    background-color: rgb(173, 242, 70);
    border: none;
    border-radius: 5px;
    margin-right: 30px;
}
.myWork{
  text-decoration: none;
   font-weight: 500;
   margin: 10px;
}

.hello{
    display: flex;
    align-items: center;
    align-content: flex-start;
    margin-top: 100px;
    justify-content: space-evenly;
}

.hero-img {
    border-color: red;
    border-radius: 50%;
}

